<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Registro</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/styles.css" rel="stylesheet">
    <style>
        /* Nueva barra con logo y nombre de la empresa */
        .title-bar-company {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #1d7c3a;
            color: white;
            padding: 5px 20px;
            width: 100%;
            box-sizing: border-box; /* Para asegurar que los padding no excedan el ancho total */
        }

        .title-bar-company img {
            height: 40px; /* Ajusta la altura del logo */
        }

        @media (min-width: 768px) {
            .title {
                font-size: 2.5rem;
                margin-bottom: 40px;
            }
            .title-bar-company img {
                height: 50px; /* Ajusta la altura del logo en pantallas grandes */
            }
            
        }
        .title-bar {
            background-color: #343a40;
            color: white;
            text-align: center;
            padding: 7px;
            font-size: 1rem;
            width: 100%;
        }
    </style>
</head>
    
<body>
    <!-- Barra superior con el nombre de la empresa y el logo -->
    <!-- Barra superior con el nombre de la empresa y el logo -->
    <div class="title-bar-company">
        <a href="{{ url_for('index') }}">
            <img src="/static/images/logo.png" alt="Logo de la empresa">
        </a>
        
        <!-- Verificar si el usuario está autenticado y mostrar el enlace adecuado -->
        <div class="button-container">
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('logout') }}" class="btn btn-light label-principal">Cerrar sesión</a>
            {% else %}
                <a href="{{ url_for('login') }}" class="btn btn-light label-principal">Iniciar sesión</a>
            {% endif %}
        </div>
    </div>
    <!-- Título Principal -->
    <div class="title-bar">
        Editar Ficha de Registro Inicial
    </div>

    <div class="container mt-5">
        <!-- Mostrar mensajes flash -->
        <div class="alert-container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="alert alert_mod alert-{{ messages[0][0] }}">
                        {{ messages[0][1] }}
                    </div>
                {% endif %}
            {% endwith %}
        </div>
        
        <form method="POST" action="/editar_registro/{{ registro.dni }}">
            <!-- Fila 1: Datos Generales y Dirección -->
            <div class="row mt-4">
                <div class="col-md-6">
                    <div class="section-box mt-3">
                        <h4>Datos Generales</h4>
                        <div class="form-group">
                            <label class="label-principal" for="dni">DNI o Carné Extranjería:</label>
                            <input type="text" class="form-control" id="dni" name="dni" value="{{ registro.dni }}" readonly>
                        </div>
                        <div class="form-group">
                            <label class="label-principal" for="nombre">Nombre y Apellido:</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" value="{{ registro.nombre }}" required>
                        </div>
                        <div class="form-group">
                            <label class="label-principal" for="edad">Edad:</label>
                            <input type="number" class="form-control" id="edad" name="edad" value="{{ registro.edad }}">
                        </div>
                        <div class="form-group">
                            <label class="label-principal" for="sexo">Sexo:</label>
                            <select class="form-control" id="sexo" name="sexo">
                                <option value="" {% if not registro.sexo %}selected{% endif %}>Seleccionar</option>
                                <option value="Masculino" {% if registro.sexo == 'Masculino' %}selected{% endif %}>Masculino</option>
                                <option value="Femenino" {% if registro.sexo == 'Femenino' %}selected{% endif %}>Femenino</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="label-principal" for="lugar_nacimiento">Lugar de Nacimiento:</label>
                            <input type="text" class="form-control" id="lugar_nacimiento" name="lugar_nacimiento" value="{{ registro.lugar_nacimiento }}">
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="section-box mt-3">
                        <h4>Dirección</h4>
                        <div class="form-group">
                            <label class="label-principal" for="departamento">Departamento:</label>
                            <select class="form-control" id="departamento" name="departamento" onchange="cargarProvincias()">
                                <option value="{{ registro.departamento }}">{{ registro.departamento }}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="label-principal" for="provincia">Provincia:</label>
                            <select class="form-control" id="provincia" name="provincia" onchange="cargarDistritos()">
                                <option value="{{ registro.provincia }}">{{ registro.provincia }}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="label-principal" for="distrito">Distrito:</label>
                            <select class="form-control" id="distrito" name="distrito">
                                <option value="{{ registro.distrito }}">{{ registro.distrito }}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="label-principal" for="calle">Calle / Jr:</label>
                            <input type="text" class="form-control" id="calle" name="calle" value="{{ registro.calle }}">
                        </div>
                        <div class="form-group">
                            <label class="label-principal" for="comunidad">Comunidad:</label>
                            <input type="text" class="form-control" id="comunidad" name="comunidad" value="{{ registro.comunidad }}">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Fila 2: Población Titular de Derecho y Derecho Prioritario -->
            <div class="row mt-4">
                <div class="col-md-6">
                    <div class="section-box mt-3">
                        <h4>Población / Colectivo / Grupos Social Titular de Derecho</h4>
                        {% set poblacion_titular = registro.poblacion_titular.split(', ') %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Niños y niñas" id="poblacion1" name="poblacion_titular" {% if 'Niños y niñas' in poblacion_titular %}checked{% endif %}>
                            <label class="form-check-label" for="poblacion1">Niños y niñas</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Adolescentes" id="poblacion2" name="poblacion_titular" {% if 'Adolescentes' in poblacion_titular %}checked{% endif %}>
                            <label class="form-check-label" for="poblacion2">Adolescentes</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Jóvenes" id="poblacion3" name="poblacion_titular" {% if 'Jóvenes' in poblacion_titular %}checked{% endif %}>
                            <label class="form-check-label" for="poblacion3">Jóvenes</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Mujeres" id="poblacion4" name="poblacion_titular" {% if 'Mujeres' in poblacion_titular %}checked{% endif %}>
                            <label class="form-check-label" for="poblacion4">Mujeres</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Personas con discapacidad" id="poblacion5" name="poblacion_titular" {% if 'Personas con discapacidad' in poblacion_titular %}checked{% endif %}>
                            <label class="form-check-label" for="poblacion5">Personas con discapacidad</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Migrantes y desplazados internos" id="poblacion6" name="poblacion_titular" {% if 'Migrantes y desplazados internos' in poblacion_titular %}checked{% endif %}>
                            <label class="form-check-label" for="poblacion6">Migrantes y desplazados internos</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Poblaciones amazónicas indígenas y de comunidades campesinas de los andes" id="poblacion7" name="poblacion_titular" {% if 'Poblaciones amazónicas indígenas y de comunidades campesinas de los andes' in poblacion_titular %}checked{% endif %}>
                            <label class="form-check-label" for="poblacion7">Poblaciones amazónicas indígenas y de comunidades campesinas de los andes</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Poblaciones de comunidades periurbanas" id="poblacion8" name="poblacion_titular" {% if 'Poblaciones de comunidades periurbanas' in poblacion_titular %}checked{% endif %}>
                            <label class="form-check-label" for="poblacion8">Poblaciones de comunidades periurbanas</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Poblaciones afectadas por el conflicto armado interno" id="poblacion9" name="poblacion_titular" {% if 'Poblaciones afectadas por el conflicto armado interno' in poblacion_titular %}checked{% endif %}>
                            <label class="form-check-label" for="poblacion9">Poblaciones afectadas por el conflicto armado interno</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Otro" id="poblacion10" name="poblacion_titular" {% if 'Otro' in poblacion_titular %}checked{% endif %} onclick="toggleOther('poblacion10', 'otro_poblacion')">
                            <label class="form-check-label" for="poblacion10">Otro (especificar):</label>
                        </div>
                        <input type="text" class="form-control mt-2" id="otro_poblacion" name="otro_poblacion" value="{{ registro.otro_poblacion }}">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="section-box mt-3 flex-grow-1">
                        <h4>Derecho Prioritario</h4>
                        {% set derecho_prioritario = registro.derecho_prioritario.split(', ') %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Vida libre de violencia y discriminación" id="derecho1" name="derecho_prioritario" {% if 'Vida libre de violencia y discriminación' in derecho_prioritario %}checked{% endif %}>
                            <label class="form-check-label" for="derecho1">Vida libre de violencia y discriminación</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Calidad e igualdad de oportunidades en la educación" id="derecho2" name="derecho_prioritario" {% if 'Calidad e igualdad de oportunidades en la educación' in derecho_prioritario %}checked{% endif %}>
                            <label class="form-check-label" for="derecho2">Calidad e igualdad de oportunidades en la educación</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Seguridad jurídica de los territorios y justicia ambiental" id="derecho3" name="derecho_prioritario" {% if 'Seguridad jurídica de los territorios y justicia ambiental' in derecho_prioritario %}checked{% endif %}>
                            <label class="form-check-label" for="derecho3">Seguridad jurídica de los territorios y justicia ambiental</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Entornos seguros y libres de riesgos de desastres" id="derecho4" name="derecho_prioritario" {% if 'Entornos seguros y libres de riesgos de desastres' in derecho_prioritario %}checked{% endif %}>
                            <label class="form-check-label" for="derecho4">Entornos seguros y libres de riesgos de desastres</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Justicia y reparación" id="derecho5" name="derecho_prioritario" {% if 'Justicia y reparación' in derecho_prioritario %}checked{% endif %}>
                            <label class="form-check-label" for="derecho5">Justicia y reparación</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Otro" id="derecho6" name="derecho_prioritario" {% if 'Otro' in derecho_prioritario %}checked{% endif %} onclick="toggleOther('derecho6', 'otro_derecho')">
                            <label class="form-check-label" for="derecho6">Otro (especificar):</label>
                        </div>
                        <input type="text" class="form-control mt-2" id="otro_derecho" name="otro_derecho" value="{{ registro.otro_derecho }}">
                    </div>

                    <div class="section-box flex-grow-1">
                        <h4>Servicio o Actividad</h4>
                        <div class="form-group">
                            <label class="label-principal" for="servicio_actividad">Servicio o Actividad:</label>
                            <input type="text" class="form-control" id="servicio_actividad" name="servicio_actividad" value="{{ registro.servicio_actividad }}">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Fila 3: Referente de Trabajo Institucional -->
            <div class="row mt-4">
                <div class="col-md-6">
                    <div class="section-box mt-3">
                        <h4>Referente de Trabajo Institucional</h4>
                        <div class="form-group">
                            <label class="label-principal" for="oficina_regional">Oficina Regional de referencia:</label>
                            <input type="text" class="form-control" id="oficina_regional" name="oficina_regional" value="{{ registro.oficina_regional }}">
                        </div>
                        <div class="form-group">
                            <label class="label-principal" for="proyectos">Proyecto/s en el/los que participa:</label>
                            <input type="text" class="form-control" id="proyectos" name="proyectos" value="{{ registro.proyectos }}">
                        </div>
                        <div class="form-group">
                            <label class="label-principal" for="tipo_servicios">Tipo de servicios o actividades institucionales en el que participa:</label>
                            {% set tipo_servicios = registro.tipo_servicios.split(', ') %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Capacitación / formación" id="servicio1" name="tipo_servicios" {% if 'Capacitación / formación' in tipo_servicios %}checked{% endif %}>
                                <label class="form-check-label" for="servicio1">Capacitación / formación</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Asesoría técnica" id="servicio2" name="tipo_servicios" {% if 'Asesoría técnica' in tipo_servicios %}checked{% endif %}>
                                <label class="form-check-label" for="servicio2">Asesoría técnica</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Defensa / patrocinio legal" id="servicio3" name="tipo_servicios" {% if 'Defensa / patrocinio legal' in tipo_servicios %}checked{% endif %}>
                                <label class="form-check-label" for="servicio3">Defensa / patrocinio legal</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Atención / soporte sicológico / emocional" id="servicio4" name="tipo_servicios" {% if 'Atención / soporte sicológico / emocional' in tipo_servicios %}checked{% endif %}>
                                <label class="form-check-label" for="servicio4">Atención / soporte sicológico / emocional</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Atención a emergencia frente a desastres" id="servicio5" name="tipo_servicios" {% if 'Atención a emergencia frente a desastres' in tipo_servicios %}checked{% endif %}>
                                <label class="form-check-label" for="servicio5">Atención a emergencia frente a desastres</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Acompañamiento pedagógico" id="servicio6" name="tipo_servicios" {% if 'Acompañamiento pedagógico' in tipo_servicios %}checked{% endif %}>
                                <label class="form-check-label" for="servicio6">Acompañamiento pedagógico</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Información calificada" id="servicio7" name="tipo_servicios" {% if 'Información calificada' in tipo_servicios %}checked{% endif %}>
                                <label class="form-check-label" for="servicio7">Información calificada</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Acompañamiento en construcción de agendas e incidencia" id="servicio8" name="tipo_servicios" {% if 'Acompañamiento en construcción de agendas e incidencia' in tipo_servicios %}checked{% endif %}>
                                <label class="form-check-label" for="servicio8">Acompañamiento en construcción de agendas e incidencia</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="section-box mt-3">
                        <h4>Fecha de Participación en el Servicio o Actividad</h4>
                        <div class="form-group">
                            <label class="label-principal" for="fecha_participacion">Fecha de participación en el servicio o actividad:</label>
                            <input type="date" class="form-control" id="fecha_participacion" name="fecha_participacion" value="{{ registro.fecha_participacion }}">
                        </div>

                        <div class="form-group">
                            <label class="label-principal" for="propuesta_agenda">Propuesta de Agenda / Iniciativa de Incidencia Social y/o Política a la que se vincula:</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" value="No se vincula a ninguna iniciativa" id="agenda_no" name="propuesta_agenda" {% if registro.propuesta_agenda == 'No se vincula a ninguna iniciativa' %}checked{% endif %}>
                                <label class="form-check-label" for="agenda_no">No se vincula a ninguna iniciativa</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" value="Sí se vincula" id="agenda_si" name="propuesta_agenda" {% if registro.propuesta_agenda == 'Sí se vincula' %}checked{% endif %}>
                                <label class="form-check-label" for="agenda_si">Sí se vincula. ¿A cuál?:</label>
                            </div>
                            <input type="text" class="form-control mt-2" id="agenda_detalle" name="agenda_detalle" value="{{ registro.agenda_detalle }}">
                        </div>

                        <!-- Red / Colectivo -->
                        <div class="form-group">
                            <label class="label-principal" for="red_colectivo">Red / Colectivo al que se vincula para la propuesta / iniciativa:</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" value="No se vincula a ninguna Red o Colectivo" id="red_no" name="red_colectivo" {% if registro.red_colectivo == 'No se vincula a ninguna Red o Colectivo' %}checked{% endif %}>
                                <label class="form-check-label" for="red_no">No se vincula a ninguna Red o Colectivo</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" value="Sí está vinculado" id="red_si" name="red_colectivo" {% if registro.red_colectivo == 'Sí está vinculado' %}checked{% endif %}>
                                <label class="form-check-label" for="red_si">Sí está vinculado. ¿A cuál?:</label>
                            </div>
                            <input type="text" class="form-control mt-2" id="red_detalle" name="red_detalle" value="{{ registro.red_detalle }}">
                        </div>

                        <!-- Participación en comunidad de fe -->
                        <div class="form-group">
                            <label class="label-principal" for="comunidad_fe">Participación en comunidad de fe:</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" value="No participa en ninguna comunidad de fe" id="fe_no" name="comunidad_fe" {% if registro.comunidad_fe == 'No participa en ninguna comunidad de fe' %}checked{% endif %}>
                                <label class="form-check-label" for="fe_no">No participa en ninguna comunidad de fe</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" value="Sí participa" id="fe_si" name="comunidad_fe" {% if registro.comunidad_fe == 'Sí participa' %}checked{% endif %}>
                                <label class="form-check-label" for="fe_si">Sí participa. ¿En cuál?:</label>
                            </div>
                            <input type="text" class="form-control mt-2" id="fe_detalle" name="fe_detalle" value="{{ registro.fe_detalle }}">
                        </div>
                        <div class="form-group">
                            <label class="label-principal" for="tipo_participacion_fe">Tipo de participación en la comunidad de fe:</label>
                            <input type="text" class="form-control" id="tipo_participacion_fe" name="tipo_participacion_fe" value="{{ registro.tipo_participacion_fe }}">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Fila 4: Desarrollo de Capacidades de Exigibilidad e Incidencia -->
            <div class="row mt-4">
                <div class="col-md-6">
                    <div class="section-box mt-3">
                        <h4>Desarrollo de Capacidades de Exigibilidad e Incidencia</h4>
            
                        <!-- Capacidad 1 -->
                        <div class="form-group label-principal">
                            <label for="capacidad_1">Conocimiento de la problemática del derecho vulnerado:</label>
                            <select class="form-control mt-1" id="capacidad_1" name="capacidad_1">
                                <option value="" {% if registro.capacidad_1 is none %}selected{% endif %}>Seleccione una calificación</option>
                                <option value="0" {% if registro.capacidad_1 == 0 %}selected{% endif %}>0 - No se observa el atributo</option>
                                <option value="1" {% if registro.capacidad_1 == 1 %}selected{% endif %}>1 - Se observa en un estado incipiente o poco relevante</option>
                                <option value="2" {% if registro.capacidad_1 == 2 %}selected{% endif %}>2 - Se observa una presencia regular, pero aún insuficiente del atributo</option>
                                <option value="3" {% if registro.capacidad_1 == 3 %}selected{% endif %}>3 - Se observa una buena presencia del atributo</option>
                                <option value="4" {% if registro.capacidad_1 == 4 %}selected{% endif %}>4 - Se observa un alto dominio del atributo</option>
                            </select>
                        </div>
            
                        <!-- Capacidad 2 -->
                        <div class="form-group label-principal">
                            <label for="capacidad_2">Manejo de las rutas, mecanismos e instrumentos:</label>
                            <select class="form-control mt-1" id="capacidad_2" name="capacidad_2">
                                <option value="" {% if registro.capacidad_2 is none %}selected{% endif %}>Seleccione una calificación</option>
                                <option value="0" {% if registro.capacidad_2 == 0 %}selected{% endif %}>0 - No se observa el atributo</option>
                                <option value="1" {% if registro.capacidad_2 == 1 %}selected{% endif %}>1 - Se observa en un estado incipiente o poco relevante</option>
                                <option value="2" {% if registro.capacidad_2 == 2 %}selected{% endif %}>2 - Se observa una presencia regular, pero aún insuficiente del atributo</option>
                                <option value="3" {% if registro.capacidad_2 == 3 %}selected{% endif %}>3 - Se observa una buena presencia del atributo</option>
                                <option value="4" {% if registro.capacidad_2 == 4 %}selected{% endif %}>4 - Se observa un alto dominio del atributo</option>
                            </select>
                        </div>
            
                        <!-- Capacidad 3 -->
                        <div class="form-group label-principal">
                            <label for="capacidad_3">Organización y movilización a sus pares:</label>
                            <select class="form-control mt-1" id="capacidad_3" name="capacidad_3">
                                <option value="" {% if registro.capacidad_3 is none %}selected{% endif %}>Seleccione una calificación</option>
                                <option value="0" {% if registro.capacidad_3 == 0 %}selected{% endif %}>0 - No se observa el atributo</option>
                                <option value="1" {% if registro.capacidad_3 == 1 %}selected{% endif %}>1 - Se observa en un estado incipiente o poco relevante</option>
                                <option value="2" {% if registro.capacidad_3 == 2 %}selected{% endif %}>2 - Se observa una presencia regular, pero aún insuficiente del atributo</option>
                                <option value="3" {% if registro.capacidad_3 == 3 %}selected{% endif %}>3 - Se observa una buena presencia del atributo</option>
                                <option value="4" {% if registro.capacidad_3 == 4 %}selected{% endif %}>4 - Se observa un alto dominio del atributo</option>
                            </select>
                        </div>
            
                        <!-- Capacidad 4 -->
                        <div class="form-group label-principal">
                            <label for="capacidad_4">Argumentación y vocería de la propuesta:</label>
                            <select class="form-control mt-1" id="capacidad_4" name="capacidad_4">
                                <option value="" {% if registro.capacidad_4 is none %}selected{% endif %}>Seleccione una calificación</option>
                                <option value="0" {% if registro.capacidad_4 == 0 %}selected{% endif %}>0 - No se observa el atributo</option>
                                <option value="1" {% if registro.capacidad_4 == 1 %}selected{% endif %}>1 - Se observa en un estado incipiente o poco relevante</option>
                                <option value="2" {% if registro.capacidad_4 == 2 %}selected{% endif %}>2 - Se observa una presencia regular, pero aún insuficiente del atributo</option>
                                <option value="3" {% if registro.capacidad_4 == 3 %}selected{% endif %}>3 - Se observa una buena presencia del atributo</option>
                                <option value="4" {% if registro.capacidad_4 == 4 %}selected{% endif %}>4 - Se observa un alto dominio del atributo</option>
                            </select>
                        </div>
            
                        <!-- Capacidad 5 -->
                        <div class="form-group label-principal">
                            <label for="capacidad_5">Participación en colectivos y movimientos de defensa de Agenda por los DDHH:</label>
                            <select class="form-control mt-1" id="capacidad_5" name="capacidad_5">
                                <option value="" {% if registro.capacidad_5 is none %}selected{% endif %}>Seleccione una calificación</option>
                                <option value="0" {% if registro.capacidad_5 == 0 %}selected{% endif %}>0 - No se observa el atributo</option>
                                <option value="1" {% if registro.capacidad_5 == 1 %}selected{% endif %}>1 - Se observa en un estado incipiente o poco relevante</option>
                                <option value="2" {% if registro.capacidad_5 == 2 %}selected{% endif %}>2 - Se observa una presencia regular, pero aún insuficiente del atributo</option>
                                <option value="3" {% if registro.capacidad_5 == 3 %}selected{% endif %}>3 - Se observa una buena presencia del atributo</option>
                                <option value="4" {% if registro.capacidad_5 == 4 %}selected{% endif %}>4 - Se observa un alto dominio del atributo</option>
                            </select>
                        </div>
            
                        <!-- Otra Capacidad -->
                        <div class="form-group label-principal">
                            <label for="otra_capacidad">Dominio de otra capacidad (especificar):</label>
                            <input type="text" class="form-control" id="otra_capacidad" name="otra_capacidad" value="{{ registro.otra_capacidad }}">
                            <label class="mt-2" for="calificacion_otra_capacidad">Calificación Otros:</label>
                            <select class="form-control mt-1" id="calificacion_otra_capacidad" name="calificacion_otra_capacidad">
                                <option value="" {% if registro.calificacion_otra_capacidad is none %}selected{% endif %}>Seleccione una calificación</option>
                                <option value="0" {% if registro.calificacion_otra_capacidad == 0 %}selected{% endif %}>0 - No se observa el atributo</option>
                                <option value="1" {% if registro.calificacion_otra_capacidad == 1 %}selected{% endif %}>1 - Se observa en un estado incipiente o poco relevante</option>
                                <option value="2" {% if registro.calificacion_otra_capacidad == 2 %}selected{% endif %}>2 - Se observa una presencia regular, pero aún insuficiente del atributo</option>
                                <option value="3" {% if registro.calificacion_otra_capacidad == 3 %}selected{% endif %}>3 - Se observa una buena presencia del atributo</option>
                                <option value="4" {% if registro.calificacion_otra_capacidad == 4 %}selected{% endif %}>4 - Se observa un alto dominio del atributo</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
                
            <!-- Fila 3: Botón de Envío -->
            <!-- Botones de navegación -->
            <div class="row justify-content-end mt-3 mb-5">
                <div class="col-md-3 d-flex justify-content-end">
                    <button type="button" class="btn btn-secondary btn-sm text-center mr-3 flex-grow-1" style="font-size: 1rem;" onclick="window.location.href='/'">Ir al menú</button>
                    <button type="submit" class="btn btn-primary btn-sm text-center flex-grow-1" style="font-size: 1rem;">Guardar</button>
                </div>
            </div>
            
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
    
    <script src="/static/script.js"></script>
</body>
</html>
