<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Registro de Avances de la Política Nacional y/o Sitio de Memoria</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/styles.css" rel="stylesheet">
    <style>
        /* Nueva barra con logo y nombre de la empresa */
        .title-bar-company {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #1d7c3a;
            color: white;
            padding: 5px 20px;
            width: 100%;
            box-sizing: border-box; /* Para asegurar que los padding no excedan el ancho total */
        }

        .title-bar-company img {
            height: 40px; /* Ajusta la altura del logo */
        }
        .title-bar {
            background-color: #343a40;
            color: white;
            text-align: center;
            padding: 7px;
            font-size: 1rem;
            width: 100%;
        }

        @media (min-width: 768px) {
            .title {
                font-size: 2.5rem;
                margin-bottom: 40px;
            }
            .title-bar-company img {
                height: 50px; /* Ajusta la altura del logo en pantallas grandes */
            }
            
        }
    </style>
</head>
<body>
    <!-- Barra superior con el nombre de la empresa y el logo -->
    <!-- Barra superior con el nombre de la empresa y el logo -->
    <div class="title-bar-company">
        <a href="{{ url_for('index') }}">
            <img src="/static/images/logo.png" alt="Logo de la empresa">
        </a>
        
        <!-- Verificar si el usuario está autenticado y mostrar el enlace adecuado -->
        <div class="button-container">
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('logout') }}" class="btn btn-light label-principal">Cerrar sesión</a>
            {% else %}
                <a href="{{ url_for('login') }}" class="btn btn-light label-principal">Iniciar sesión</a>
            {% endif %}
        </div>
    </div>
    <!-- Título Principal -->
    <div class="title-bar">
        Editar Avances de la Política Nacional y/o Sitio de Memoria
    </div>
    <div class="container mt-5">
        <!-- Mostrar mensajes flash -->
        <div class="alert-container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="alert alert_mod alert-{{ messages[0][0] }}">
                        {{ messages[0][1] }}
                    </div>
                {% endif %}
            {% endwith %}
        </div>

        <form method="POST" action="/editar_avances_politica_nacional_memoria/{{ avances_politica_memoria.id }}">    
            <div class="row mt-4 label-principal">
                <div class="col-md-6">
                    <div class="section-box mt-3 ">
                        <h4>Datos del avance de la Política Nacional y/o Sitio de Memoria</h4>
                        
                        <!-- Selección de la Política Nacional o Sitio de Memoria -->
                        <div class="form-group">
                            <label for="nombre_politica_memoria">Política Nacional o Memoria Seleccionado:</label>
                            <input type="text" class="form-control" maxlength="200" id="nombre_politica_memoria" name="nombre_politica_memoria" value="{{ avances_politica_memoria.nombre_politica_memoria }}" readonly>
                        </div>
                    </div>
                </div>

                <!-- Segunda columna: Número de registro de monitoreo -->
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="alert alert-info" id="numero_formulario_container" style="display: none;">
                            Registro de Monitoreo #<strong id="numero_formulario"></strong> para la política seleccionada.
                        </div>
                    </div>
                </div>
            </div>
            <!-- Nueva fila: Principales ocurrencias y actividades -->
            <div class="row mt-2 label-principal">
                <div class="col-md-6">
                    <div class="section-box mt-3">
                        <h4>Principales ocurrencias y actividades en el período</h4>
                        <div class="form-group">
                            <label for="ocurrencias_periodo">Principales ocurrencias en el período (contexto):</label>
                            <textarea id="ocurrencias_periodo" maxlength="400" name="ocurrencias_periodo" class="form-control" rows="5">{{ avances_politica_memoria.ocurrencias_periodo }}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="actividades_realizadas">Actividades realizadas por Paz y Esperanza en el período:</label>
                            <textarea id="actividades_realizadas" maxlength="400" name="actividades_realizadas" class="form-control" rows="5">{{ avances_politica_memoria.actividades_realizadas }}</textarea>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="section-box mt-3">
                        <h4>Estado actual de la gestión</h4>
                        <div class="form-group">
                            <label for="estado_actual_gestion">Estado actual de la gestión referido a la Política Nacional y/o Sitio de Memoria. Avances con relación al reporte anterior:</label>
                            <textarea id="estado_actual_gestion" maxlength="400" name="estado_actual_gestion" class="form-control" rows="5">{{ avances_politica_memoria.estado_actual_gestion }}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="recomendaciones">Recomendaciones y/o próximas tareas:</label>
                            <textarea id="recomendaciones" maxlength="350" name="recomendaciones" class="form-control" rows="5">{{ avances_politica_memoria.recomendaciones }}</textarea>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Nueva fila: Otro asunto y Responsable del registro -->
            <div class="row mt-2 label-principal">
                <div class="col-md-6">
                    <div class="section-box mt-3">
                        <h4>Otros asuntos que reportar y Responsable del registro</h4>
                        <div class="form-group">
                            <label for="otro_asunto">Otro asunto:</label>
                            <textarea id="otro_asunto" maxlength="255" name="otro_asunto" class="form-control" rows="3">{{ avances_politica_memoria.otro_asunto }}</textarea>
                        </div>

                        <div class="form-group">
                            <label for="responsable_registro">Responsable del registro:</label>
                            <input type="text" class="form-control" maxlength="100" id="responsable_registro" name="responsable_registro" placeholder="Nombre del responsable" value="{{ avances_politica_memoria.responsable_registro }}">
                        </div>
                    </div>
                </div>
            </div>




            <!-- Botones de navegación -->
            <div class="row justify-content-end mt-3 mb-5">
                <div class="col-md-3 d-flex justify-content-end">
                    <button type="button" class="btn btn-secondary btn-sm text-center mr-3 flex-grow-1" style="font-size: 1rem;" onclick="window.location.href='/'">Ir al menú</button>
                    <button type="submit" class="btn btn-primary btn-sm text-center flex-grow-1" style="font-size: 1rem;">Guardar</button>
                </div>
            </div>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/script.js"></script>
</body>
</html>
