<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Iniciativa o Propuesta</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/styles.css" rel="stylesheet">
    <style>
        /* Nueva barra con logo y nombre de la empresa */
        .title-bar-company {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #1d7c3a;
            color: white;
            padding: 5px 20px;
            width: 100%;
            box-sizing: border-box; /* Para asegurar que los padding no excedan el ancho total */
        }

        .title-bar-company img {
            height: 40px; /* Ajusta la altura del logo */
        }

        @media (min-width: 768px) {
            .title {
                font-size: 2.5rem;
                margin-bottom: 40px;
            }
            .title-bar-company img {
                height: 50px; /* Ajusta la altura del logo en pantallas grandes */
            }
            
        }
        .title-bar {
            background-color: #343a40;
            color: white;
            text-align: center;
            padding: 7px;
            font-size: 1rem;
            width: 100%;
        }
    </style>
</head>
<body>
    <!-- Barra superior con el nombre de la empresa y el logo -->
    <!-- Barra superior con el nombre de la empresa y el logo -->
    <div class="title-bar-company">
        <a href="{{ url_for('index') }}">
            <img src="/static/images/logo.png" alt="Logo de la empresa">
        </a>
        
        <!-- Verificar si el usuario está autenticado y mostrar el enlace adecuado -->
        <div class="button-container">
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('logout') }}" class="btn btn-light label-principal">Cerrar sesión</a>
            {% else %}
                <a href="{{ url_for('login') }}" class="btn btn-light label-principal">Iniciar sesión</a>
            {% endif %}
        </div>
    </div>
    <!-- Título Principal -->
    <div class="title-bar">
        Iniciativa o Propuesta
    </div>

    <div class="container mt-5">
        <!-- Mostrar mensajes flash -->
        <div class="alert-container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="alert alert_mod alert-{{ messages[0][0] }}">
                        {{ messages[0][1] }}
                    </div>
                {% endif %}
            {% endwith %}
        </div>
        
        <form method="POST" action="/form_iniciativas">
            <div class="row mt-4">
                <!-- Columna izquierda -->
                <div class="col-md-6">
                    <!-- Sección 1: Nombre de la Iniciativa o Propuesta -->
                    <div class="section-box">
                        <h4>Nombre de la Iniciativa o Propuesta</h4>
                        <div class="form-group">
                            <label class="label-principal" for="nombre_iniciativa">Nombre de la iniciativa:</label>
                            <input type="text" class="form-control" id="nombre_iniciativa" name="nombre_iniciativa" maxlength="150" required>
                        </div>
                    </div>

                    <!-- Sección 3: Derecho Genérico en el que se Inscribe -->
                    <div class="section-box ">
                        <h4>Derecho Genérico en el que se Inscribe</h4>
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="derecho_generico" value="Vida libre de violencia y discriminación">
                                <label class="form-check-label" for="derecho_generico1">Vida libre de violencia y discriminación</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="derecho_generico" value="Calidad e igualdad de oportunidades en la educación">
                                <label class="form-check-label" for="derecho_generico2">Calidad e igualdad de oportunidades en la educación</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="derecho_generico" value="Seguridad jurídica de los territorios y justicia ambiental">
                                <label class="form-check-label" for="derecho_generico3">Seguridad jurídica de los territorios y justicia ambiental</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="derecho_generico" value="Entornos seguros y libres de riesgos de desastres">
                                <label class="form-check-label" for="derecho_generico4">Entornos seguros y libres de riesgos de desastres</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="derecho_generico" value="Justicia y reparación">
                                <label class="form-check-label" for="derecho_generico5">Justicia y reparación</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="otro_derecho_checkbox" name="derecho_generico" value="Otro" onchange="toggleOther('otro_derecho_checkbox', 'otro_derecho_detalle')">
                                <label class="form-check-label" for="otro_derecho_checkbox">Otro derecho (indicar cuál):</label>
                                <input type="text" class="form-control mt-2" id="otro_derecho_detalle" maxlength="60" name="otro_derecho_detalle" style="display:none;">
                            </div>
                        </div>
                    </div>

                    <!-- Sección 4: Colectivo u Organización Asociada -->
                    <div class="section-box ">
                        <h4>Colectivo u Organización Asociada</h4>
                        <div class="form-group">
                            <label class="label-principal" for="colectivo_organizacion">Colectivo u organización:</label>
                            <input type="text" class="form-control" id="colectivo_organizacion" maxlength="80" name="colectivo_organizacion">
                        </div>
                    </div>
                </div>

                <!-- Columna derecha -->
                <div class="col-md-6">
                    <!-- Sección 2: Población / Colectivo / Grupos Social Titular de Derecho -->
                    <div class="section-box flex-grow-1">
                        <h4>Población / Colectivo / Grupos Social Titular de Derecho</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Población titular de derecho</th>
                                        <th>Hombres</th>
                                        <th>Mujeres</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="checkbox" name="poblacion[]" value="Niños y niñas"> Niños y niñas</td>
                                        <td><input type="number" class="form-control" name="total_hombres_ninos" min="0"></td>
                                        <td><input type="number" class="form-control" name="total_mujeres_ninos" min="0"></td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="poblacion[]" value="Adolescentes"> Adolescentes</td>
                                        <td><input type="number" class="form-control" name="total_hombres_adolescentes" min="0"></td>
                                        <td><input type="number" class="form-control" name="total_mujeres_adolescentes" min="0"></td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="poblacion[]" value="Jóvenes"> Jóvenes</td>
                                        <td><input type="number" class="form-control" name="total_hombres_jovenes" min="0"></td>
                                        <td><input type="number" class="form-control" name="total_mujeres_jovenes" min="0"></td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="poblacion[]" value="Mujeres"> Mujeres</td>
                                        <td><input type="number" class="form-control" name="total_hombres_mujeres" min="0"></td>
                                        <td><input type="number" class="form-control" name="total_mujeres_mujeres" min="0"></td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="poblacion[]" value="Personas con discapacidad"> Personas con discapacidad</td>
                                        <td><input type="number" class="form-control" name="total_hombres_discapacidad" min="0"></td>
                                        <td><input type="number" class="form-control" name="total_mujeres_discapacidad" min="0"></td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="poblacion[]" value="Migrantes y desplazados internos"> Migrantes y desplazados internos</td>
                                        <td><input type="number" class="form-control" name="total_hombres_migrantes" min="0"></td>
                                        <td><input type="number" class="form-control" name="total_mujeres_migrantes" min="0"></td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="poblacion[]" value="Poblaciones amazónicas indígenas y de comunidades campesinas de los andes"> Poblaciones amazónicas indígenas y de comunidades campesinas de los andes</td>
                                        <td><input type="number" class="form-control" name="total_hombres_amazonicas" min="0"></td>
                                        <td><input type="number" class="form-control" name="total_mujeres_amazonicas" min="0"></td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="poblacion[]" value="Poblaciones de comunidades periurbanas"> Poblaciones de comunidades periurbanas</td>
                                        <td><input type="number" class="form-control" name="total_hombres_periurbanas" min="0"></td>
                                        <td><input type="number" class="form-control" name="total_mujeres_periurbanas" min="0"></td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="poblacion[]" value="Poblaciones afectadas por el conflicto armado interno"> Poblaciones afectadas por el conflicto armado interno</td>
                                        <td><input type="number" class="form-control" name="total_hombres_conflicto" min="0"></td>
                                        <td><input type="number" class="form-control" name="total_mujeres_conflicto" min="0"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="checkbox" id="otra_poblacion_checkbox" name="poblacion[]" value="Otra población" onchange="toggleOther('otra_poblacion_checkbox', 'otra_poblacion_detalle')"> Otra población o colectivo de referencia:
                                            <input type="text" class="form-control mt-2" id="otra_poblacion_detalle" maxlength="80" name="otra_poblacion_detalle" style="display:none;">
                                        </td>
                                        <td><input type="number" class="form-control" name="total_hombres_otra" min="0"></td>
                                        <td><input type="number" class="form-control" name="total_mujeres_otra" min="0"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Fila 2: Tipo o Naturaleza de la Iniciativa o Propuesta (Solo en la columna izquierda) -->
            <div class="row mt-4">
                <div class="col-md-6"> <!-- Cambiado de col-md-12 a col-md-6 -->
                    <!-- Sección 5: Tipo o Naturaleza de la Iniciativa o Propuesta -->
                    <div class="section-box mt-3">
                        <h4>Tipo o Naturaleza de la Iniciativa o Propuesta</h4>
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="cambio_politica_checkbox" name="tipo_naturaleza[]" value="Cambios en la política pública nacional" onchange="toggleOther('cambio_politica_checkbox', 'cambio_politica_detalle')">
                                <label class="form-check-label" for="cambio_politica_checkbox">Cambios en la política pública nacional</label>
                                <input type="text" class="form-control mt-2" id="cambio_politica_detalle" name="cambio_politica_detalle" maxlength="100" placeholder="¿Cuál en particular?" style="display:none;">
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="cambio_marcos_checkbox" name="tipo_naturaleza[]" value="Cambios en marcos normativos o procedimientos de entidades u organismos encargados de servicios públicos" onchange="toggleOther('cambio_marcos_checkbox', 'cambio_marcos_detalle')">
                                <label class="form-check-label" for="cambio_marcos_checkbox">Cambios en marcos normativos o procedimientos de entidades u organismos encargados de servicios públicos</label>
                                <input type="text" class="form-control mt-2" id="cambio_marcos_detalle" name="cambio_marcos_detalle" maxlength="100" placeholder="¿Cuál en particular?" style="display:none;">
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="cambio_practicas_checkbox" name="tipo_naturaleza[]" value="Cambios en las prácticas de entidades privadas respecto al ejercicio de derechos" onchange="toggleOther('cambio_practicas_checkbox', 'cambio_practicas_detalle')">
                                <label class="form-check-label" for="cambio_practicas_checkbox">Cambios en las prácticas de entidades privadas respecto al ejercicio de derechos</label>
                                <input type="text" class="form-control mt-2" id="cambio_practicas_detalle" name="cambio_practicas_detalle" maxlength="100" placeholder="¿Cuál en particular?" style="display:none;">
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="cambio_sensibilidad_checkbox" name="tipo_naturaleza[]" value="Cambios en la sensibilidad o prácticas sociales o de colectivos respecto al ejercicio de derechos" onchange="toggleOther('cambio_sensibilidad_checkbox', 'cambio_sensibilidad_detalle')">
                                <label class="form-check-label" for="cambio_sensibilidad_checkbox">Cambios en la sensibilidad o prácticas sociales o de colectivos respecto al ejercicio de derechos</label>
                                <input type="text" class="form-control mt-2" id="cambio_sensibilidad_detalle" name="cambio_sensibilidad_detalle" maxlength="100" placeholder="¿Cuál en particular?" style="display:none;">
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="otro_naturaleza_checkbox" name="tipo_naturaleza[]" value="Otro" onchange="toggleOther('otro_naturaleza_checkbox', 'otro_naturaleza_detalle', 'otro_naturaleza_particular')">
                                <label class="form-check-label" for="otro_naturaleza_checkbox">Otro (indicar cuál):</label>
                                <input type="text" class="form-control mt-2" id="otro_naturaleza_detalle" name="otro_naturaleza_detalle" maxlength="100" placeholder="Indica el tipo o naturaleza" style="display:none;">
                                <input type="text" class="form-control mt-2" id="otro_naturaleza_particular" name="otro_naturaleza_particular" maxlength="100" placeholder="¿Cuál en particular?" style="display:none;">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <!-- Entidad Competente -->
                    <div class="section-box mt-3">
                        <h4>Entidad Competente a la que se dirige de manera directa la iniciativa o propuesta</h4>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Sector público competente</th>
                                    <th>Dependencia /instancia /similar</th>
                                    <th>Alcance/escala de la entidad</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="form-control" maxlength="70" name="sector_publico_competente_1"></td>
                                    <td><input type="text" class="form-control" maxlength="70" name="dependencia_instancia_1"></td>
                                    <td>
                                        <select class="form-control" name="alcance_escala_1">
                                            <option value="" selected>Seleccionar</option>
                                            <option value="Nacional">Nacional</option>
                                            <option value="Regional">Regional</option>
                                            <option value="Local">Local</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="form-control" maxlength="70" name="sector_publico_competente_2"></td>
                                    <td><input type="text" class="form-control" maxlength="70" name="dependencia_instancia_2"></td>
                                    <td>
                                        <select class="form-control" name="alcance_escala_2">
                                            <option value="" selected>Seleccionar</option>
                                            <option value="Nacional">Nacional</option>
                                            <option value="Regional">Regional</option>
                                            <option value="Local">Local</option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                    
                </div>
            </div>
            
            <!-- Fila 3: Localidades y Breve descripcion -->
            <div class="row mt-4">
                <div class="col-md-6">
                    <!-- Localidades -->
                    <div class="section-box mt-3">
                        <h4>Localidad/es en donde se sitúa la iniciativa o propuesta</h4>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td><input type="text" class="form-control" maxlength="60" placeholder="Localidad 1" name="localidad_1"></td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="form-control" maxlength="60" placeholder="Localidad 2" name="localidad_2"></td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="form-control" maxlength="60" placeholder="Localidad 3" name="localidad_3"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-md-6">
                    <!-- Breve descripción de la situación -->
                    <div class="section-box mt-3">
                        <h4>Breve descripción de la situación</h4>
                        <div class="form-group">
                            <textarea class="form-control" rows="" maxlength="255" name="descripcion_situacion" placeholder="Ingresar aquí la información y utilice todo el espacio que considere necesario"></textarea>
                        </div>
                    </div>
            
                    <!-- Objetivo específico -->
                    <div class="section-box mt-3">
                        <h4>Objetivo específico</h4>
                        <div class="form-group">
                            <textarea class="form-control" rows="3" maxlength="255" name="objetivo_especifico" placeholder="Ingrese el objetivo específico, concreto y directo que se persigue con la iniciativa o propuesta"></textarea>
                        </div>
                    </div>
                </div>


            </div>

            <!-- Fila 4: Campos y Componentes -->
            <div class="row mt-4">
                <div class="col-md-6">
                    <!-- Sección 10: Campo/s al que se dirige la iniciativa o propuesta -->
                    <div class="section-box mt-3 flex-grow-1">
                        <h4>Campo/s al que se dirige la iniciativa o propuesta</h4>
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="campo_creacion_checkbox" name="campos[]" value="Creación, apertura, instauración de un nuevo aspecto dentro del sistema de gestión/organismo">
                                <label class="form-check-label" for="campo_creacion_checkbox">Creación, apertura, instauración de un nuevo aspecto dentro del sistema de gestión/organismo</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="campo_enfoque_checkbox" name="campos[]" value="Cambios en el enfoque y/o marco normativo que sustenta la dimensión sobre la que se incide">
                                <label class="form-check-label" for="campo_enfoque_checkbox">Cambios en el enfoque y/o marco normativo que sustenta la dimensión sobre la que se incide</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="campo_asignacion_checkbox" name="campos[]" value="Asignación de recursos para viabilizar el asunto vinculado al derecho">
                                <label class="form-check-label" for="campo_asignacion_checkbox">Asignación de recursos para viabilizar el asunto vinculado al derecho</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="campo_estructuras_checkbox" name="campos[]" value="Cambios en las estructuras y procedimientos del organismo de referencia">
                                <label class="form-check-label" for="campo_estructuras_checkbox">Cambios en las estructuras y procedimientos del organismo de referencia</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="campo_normas_checkbox" name="campos[]" value="Cumplimiento / ejecución de normas y acuerdos establecidos">
                                <label class="form-check-label" for="campo_normas_checkbox">Cumplimiento / ejecución de normas y acuerdos establecidos</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="campo_modificacion_checkbox" name="campos[]" value="Modificación positiva de capacidades, comportamientos o prácticas de autoridades y funcionarios">
                                <label class="form-check-label" for="campo_modificacion_checkbox">Modificación positiva de capacidades, comportamientos o prácticas de autoridades y funcionarios</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="campo_otro_checkbox" name="campos[]" value="Otro" onchange="toggleOther('campo_otro_checkbox', 'campo_otro_detalle')">
                                <label class="form-check-label" for="campo_otro_checkbox">Otro (indicar cuál):</label>
                                <input type="text" class="form-control mt-2" id="campo_otro_detalle" maxlength="80" name="campo_otro_detalle" placeholder="Indica otro campo" style="display:none;">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-6">
                    <!-- Sección 11: Componentes / elementos / aspectos -->
                    <div class="section-box mt-3 flex-grow-1">
                        <h4>Componentes / elementos / aspectos que son parte fundamental</h4>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td><input type="text" class="form-control" maxlength="100" name="componente_1" placeholder="1."></td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="form-control" maxlength="100" name="componente_2" placeholder="2."></td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="form-control" maxlength="100" name="componente_3" placeholder="3."></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>    

            <!-- Fila 5 Contenido de la iniciativa o propuesta -->
            <div class="row mt-4">
                <div class="col-md-6">
                    <div class="section-box mt-3">
                        <h4>Contenido de la iniciativa o propuesta</h4>
                    
                        <!-- Contenido 1 -->
                        <div class="form-group label-principal">
                            <label for="contenido_1">No se ha iniciado aún la elaboración de la iniciativa o propuesta:</label>
                            <select class="form-control mt-1" id="contenido_1" name="contenido_1">
                                <option value="" selected>Seleccione una calificación</option>
                                <option value="0">0 - No se ha iniciado</option>
                                <option value="1">1 - Inicial</option>
                                <option value="2">2 - En proceso de formulación</option>
                                <option value="3">3 - Concluido</option>
                            </select>
                        </div>
                    
                        <!-- Contenido 2 -->
                        <div class="form-group label-principal">
                            <label for="contenido_2">Definición de la problemática relacionada al derecho materia de la iniciativa o propuesta:</label>
                            <select class="form-control mt-1" id="contenido_2" name="contenido_2">
                                <option value="" selected>Seleccione una calificación</option>
                                <option value="0">0 - No se ha iniciado</option>
                                <option value="1">1 - Inicial</option>
                                <option value="2">2 - En proceso de formulación</option>
                                <option value="3">3 - Concluido</option>
                            </select>
                        </div>
                    
                        <!-- Contenido 3 -->
                        <div class="form-group label-principal">
                            <label for="contenido_3">Fundamentación / argumentación de la iniciativa o propuesta (normativa, estadística, política pública, etc.):</label>
                            <select class="form-control mt-1" id="contenido_3" name="contenido_3">
                                <option value="" selected>Seleccione una calificación</option>
                                <option value="0">0 - No se ha iniciado</option>
                                <option value="1">1 - Inicial</option>
                                <option value="2">2 - En proceso de formulación</option>
                                <option value="3">3 - Concluido</option>
                            </select>
                        </div>
                    
                        <!-- Contenido 4 -->
                        <div class="form-group label-principal">
                            <label for="contenido_4">Formulación de los objetivos / propósitos / metas / o similares:</label>
                            <select class="form-control mt-1" id="contenido_4" name="contenido_4">
                                <option value="" selected>Seleccione una calificación</option>
                                <option value="0">0 - No se ha iniciado</option>
                                <option value="1">1 - Inicial</option>
                                <option value="2">2 - En proceso de formulación</option>
                                <option value="3">3 - Concluido</option>
                            </select>
                        </div>
                    
                        <!-- Contenido 5 -->
                        <div class="form-group label-principal">
                            <label for="contenido_5">Definición de estrategias / lineamientos / o similares:</label>
                            <select class="form-control mt-1" id="contenido_5" name="contenido_5">
                                <option value="" selected>Seleccione una calificación</option>
                                <option value="0">0 - No se ha iniciado</option>
                                <option value="1">1 - Inicial</option>
                                <option value="2">2 - En proceso de formulación</option>
                                <option value="3">3 - Concluido</option>
                            </select>
                        </div>
                    
                        <!-- Contenido 6 -->
                        <div class="form-group label-principal">
                            <label for="contenido_6">Estimación de presupuesto y mecanismos y/o fuentes de financiamiento:</label>
                            <select class="form-control mt-1" id="contenido_6" name="contenido_6">
                                <option value="" selected>Seleccione una calificación</option>
                                <option value="0">0 - No se ha iniciado</option>
                                <option value="1">1 - Inicial</option>
                                <option value="2">2 - En proceso de formulación</option>
                                <option value="3">3 - Concluido</option>
                            </select>
                        </div>
                    
                        <!-- Contenido 7 -->
                        <div class="form-group label-principal">
                            <label for="contenido_7">Organización / implementación de la propuesta dentro del sistema en el que se inscribe:</label>
                            <select class="form-control mt-1" id="contenido_7" name="contenido_7">
                                <option value="" selected>Seleccione una calificación</option>
                                <option value="0">0 - No se ha iniciado</option>
                                <option value="1">1 - Inicial</option>
                                <option value="2">2 - En proceso de formulación</option>
                                <option value="3">3 - Concluido</option>
                            </select>
                        </div>
                    
                        <!-- Contenido Otro -->
                        <div class="form-group label-principal">
                            <label for="contenido_otro">Otros elementos que consideren pertinente valorar (especificar):</label>
                            <input type="text" class="form-control" id="contenido_otro" maxlength="80" name="contenido_otro">
                            <label class="label-principal mt-2" for="calificacion_otro_contenido">Calificación de Otros:</label>
                            <select class="form-control mt-1" id="calificacion_otro_contenido" name="calificacion_otro_contenido">
                                <option value="" selected>Seleccione una calificación</option>
                                <option value="0">0 - No se ha iniciado</option>
                                <option value="1">1 - Inicial</option>
                                <option value="2">2 - En proceso de formulación</option>
                                <option value="3">3 - Concluido</option>
                            </select>
                        </div>
                    </div>
                    
                </div>

                <div class="col-md-6">
                    <!-- Sección: Fase de Implementación -->
                    <div class="section-box mt-3 flex-grow-1">
                        <h4>Fase de Implementación</h4>
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="fase_gestacion_checkbox" name="fase_implementacion[]" value="Actualmente se encuentra en proceso de gestación / situación embrionaria / estado preliminar">
                                <label class="form-check-label" for="fase_gestacion_checkbox">Actualmente se encuentra en proceso de gestación / situación embrionaria / estado preliminar</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="fase_organizacion_checkbox" name="fase_implementacion[]" value="Organización / formación de los actores claves para la producción y gestión de la iniciativa / Desarrollo de los contenidos de la propuesta">
                                <label class="form-check-label" for="fase_organizacion_checkbox">Organización / formación de los actores claves para la producción y gestión de la iniciativa / Desarrollo de los contenidos de la propuesta</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="fase_coordinacion_checkbox" name="fase_implementacion[]" value="Coordinación preliminares con funcionarios y/o autoridades de las entidades destinatarias de la iniciativa o propuesta">
                                <label class="form-check-label" for="fase_coordinacion_checkbox">Coordinación preliminares con funcionarios y/o autoridades de las entidades destinatarias de la iniciativa o propuesta</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="fase_dialogo_checkbox" name="fase_implementacion[]" value="Diálogo / socialización / sensibilización con funcionarios y autoridades de las entidades destinatarias">
                                <label class="form-check-label" for="fase_dialogo_checkbox">Diálogo / socialización / sensibilización con funcionarios y autoridades de las entidades destinatarias</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="fase_argumentacion_checkbox" name="fase_implementacion[]" value="Argumentación / fundamentación ante autoridades y funcionarios">
                                <label class="form-check-label" for="fase_argumentacion_checkbox">Argumentación / fundamentación ante autoridades y funcionarios</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="fase_respuesta_checkbox" name="fase_implementacion[]" value="Respuesta / aprobación preliminar / acuerdos previos / compromisos iniciales para la implementación de la iniciativa o propuesta">
                                <label class="form-check-label" for="fase_respuesta_checkbox">Respuesta / aprobación preliminar / acuerdos previos / compromisos iniciales para la implementación de la iniciativa o propuesta</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="fase_formalizacion_checkbox" name="fase_implementacion[]" value="Formalización de los acuerdos con el organismo o instancia involucrada o competente">
                                <label class="form-check-label" for="fase_formalizacion_checkbox">Formalización de los acuerdos con el organismo o instancia involucrada o competente</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="fase_normas_checkbox" name="fase_implementacion[]" value="Desarrollo de normas / instrumentos para la gestión de la iniciativa por parte de la entidad competente" onchange="toggleOther('fase_normas_checkbox', 'fase_normas_detalle')">
                                <label class="form-check-label" for="fase_normas_checkbox">Desarrollo de normas / instrumentos para la gestión de la iniciativa por parte de la entidad competente (en cuál):</label>
                                <input type="text" class="form-control mt-2" id="fase_normas_detalle" maxlength="100" name="fase_normas_detalle" placeholder="¿En cuál?" style="display:none;">
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="fase_institucionalizacion_checkbox" name="fase_implementacion[]" value="Institucionalización de la propuesta: aplicación de la norma, asignación de presupuesto, definición de instancia responsable, mecanismo de gestión" onchange="toggleOther('fase_institucionalizacion_checkbox', 'fase_institucionalizacion_detalle')">
                                <label class="form-check-label" for="fase_institucionalizacion_checkbox">Institucionalización de la propuesta: aplicación de la norma, asignación de presupuesto, definición de instancia responsable, mecanismo de gestión (qué entidad):</label>
                                <input type="text" class="form-control mt-2" id="fase_institucionalizacion_detalle" maxlength="100" name="fase_institucionalizacion_detalle" placeholder="¿Qué entidad?" style="display:none;">
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="fase_monitoreo_checkbox" name="fase_implementacion[]" value="Monitoreo / supervisión / vigilancia de compromisos por parte de la entidad competente">
                                <label class="form-check-label" for="fase_monitoreo_checkbox">Monitoreo / supervisión / vigilancia de compromisos por parte de la entidad competente</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="fase_otro_checkbox" name="fase_implementacion[]" value="Otro" onchange="toggleOther('fase_otro_checkbox', 'fase_otro_detalle')">
                                <label class="form-check-label" for="fase_otro_checkbox">Otra fase (indicar cuál):</label>
                                <input type="text" class="form-control mt-2" id="fase_otro_detalle" maxlength="100" name="fase_otro_detalle" placeholder="Indica cuál" style="display:none;">
                            </div>
                        </div>
                    </div>
                    <!-- Sección 14: Actividades principales planificadas -->
                    <div class="section-box">
                        <h4>Actividades principales planificadas</h4>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td><input type="text" class="form-control" maxlength="150" placeholder="Actividad 1" name="actividad_1"></td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="form-control" maxlength="150" placeholder="Actividad 2" name="actividad_2"></td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="form-control" maxlength="150" placeholder="Actividad 3" name="actividad_3"></td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="form-control" maxlength="150" placeholder="Actividad 4" name="actividad_4"></td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="form-control" maxlength="150" placeholder="Actividad 5" name="actividad_5"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    
                </div>
                
            </div>

            <!-- Fila 5 Contenido de la iniciativa o propuesta -->
            <div class="row mt-4">
                <div class="col-md-6">
                    <!-- Sección 15: Proyecto/s de referencia -->
                    <div class="section-box mt-3">
                        <h4>Proyecto/s de referencia</h4>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Proyecto que financia</th>
                                    <th>Fuente de financiamiento</th>
                                    <th>Financiamiento US$</th>
                                    <th>Período de financiamiento</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="form-control" maxlength="150" name="proyecto_1"></td>
                                    <td><input type="text" class="form-control" maxlength="100" name="fuente_financiamiento_1"></td>
                                    <td><input type="number" class="form-control" name="financiamiento_1"></td>
                                    <td><input type="text" class="form-control" maxlength="100" name="periodo_financiamiento_1"></td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="form-control" maxlength="150" name="proyecto_2"></td>
                                    <td><input type="text" class="form-control" maxlength="100" name="fuente_financiamiento_2"></td>
                                    <td><input type="number" class="form-control" name="financiamiento_2"></td>
                                    <td><input type="text" class="form-control" maxlength="100" name="periodo_financiamiento_2"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div> 
                <div class="col-md-6">
                    <!-- Sección 16: Observaciones / comentarios / sugerencias -->
                    <div class="section-box mt-3">
                        <h4>Observaciones / comentarios / sugerencias</h4>
                        <textarea placeholder="Ingresar información aquí y utilice todo el espacio necesario" class="form-control" rows="4" name="observaciones" maxlength="255"></textarea>
                    </div>
                    <!-- Responsable del registro -->
                    <div class="section-box flex-grow-1">
                        <h4>Responsable del registro:</h4>
                        <div class="form-group">
                            <label class="label-principal" for="responsable_registro">Responsable del registro:</label>
                            <input type="text" class="form-control" id="responsable_registro" maxlength="100" name="responsable_registro">
                        </div>
                    </div>
                </div>       
            </div>

            <!-- Fila 3: Botón de Envío -->
            <!-- Botones de navegación -->
            <div class="row justify-content-end mt-3 mb-5">
                <div class="col-md-3 d-flex justify-content-end">
                    <button type="button" class="btn btn-secondary btn-sm text-center mr-3 flex-grow-1" style="font-size: 1rem;" onclick="window.location.href='/'">Ir al menú</button>
                    <!-- <button type="button" class="btn btn-success btn-sm text-center mr-3 flex-grow-1" style="font-size: 1rem;" onclick="window.location.href='/form_registro_inicial'">Ir a Registro</button> -->
                    <button type="submit" class="btn btn-primary btn-sm text-center flex-grow-1" style="font-size: 1rem;">Guardar</button>
                </div>
            </div>
            
            
            
            
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/script.js"></script>
</body>
</html>
